{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center">
    <p class="h1 mt-5">Mon Profil</p>
    <hr/>
    <img src="{{ asset(app.user.avatar) }}" class="img-profil" alt="Mon avatar">
    <hr/>
      <button class="btn btn-secondary">
          <a class="nav-link" aria-current="page" href="{{ path('app_user_avatar', { 'id': app.user.id }) }}">modifier mon avatar</a>
        </button>
        <hr/>
        <button class="btn btn-primary">
          <a class="nav-link" aria-current="page" href="{{ path('app_user_pseudo', { 'id': app.user.id }) }}">modifier mon pseudo</a>
        </button>
        <hr/>
        <button class="btn btn-warning">
          <a class="nav-link" aria-current="page" href="{{ path('app_user_pass_update', { 'id': app.user.id }) }}">modifier son mot de passe</a>
        </button>
        <hr/>
        <button class="btn btn-danger">
          <a class="nav-link" aria-current="page" href="{{ path('app_user_delete', {'id':app.user.id }) }}">Supprimer mon compte</a>
        </button>
</div>
    {% endblock %}